<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBVhgJvt80CDP6uf2fd25rhr3haz_gmb2U</string>
	<key>GCM_SENDER_ID</key>
	<string>990250274126</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.races</string>
	<key>PROJECT_ID</key>
	<string>races-b0d7b</string>
	<key>STORAGE_BUCKET</key>
	<string>races-b0d7b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:990250274126:ios:b482a4cf77f5b1c1c6a21f</string>
</dict>
</plist>